body {
    margin: 0;
}
.title::after {
    content: '';
    position: absolute;
    bottom: -7px;
    left: 0;
    height: 2px;
    width: 100px;
    background: #000;
}
.item-questionnaire {
    box-shadow: 0 0 17px -11px #000;
    transform: scale(1);
    transition: 0.3s all;
}
.item-questionnaire:hover {
    transform: scale(1.01);
}
.limit {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
            line-clamp: 3; 
    -webkit-box-orient: vertical;
}